<% content_for(:title_tag) do %>
  INFLUENCERS
<% end %>
<div class="container text-center">
  <%= render "shared/search_form" %>
</div>
<div class="divide30"></div>
<div class="main_title">
  <h1>We have <%= @influencers.count %> influencers for you!</h1>
</div>

<div class="container result">
  <div class="row">
    <div class="container_card">
      <div class="row">
        <% @influencers.each do |influencer| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= render "shared/card", influencer: influencer %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
