<div class="container">

  <div class="influencer-content">

    <div class="influencer-banner"></div>

    <div class="influencer-avatar"></div>

    <div class="influencer-infos"></div>
      <%= @influencer.pseudo %>
      <%= @influencer.language %>
      <%= @influencer.category %>


    <div class="influencer-description"></div>
      <%= @influencer.description %>

  </div>






</div>

