.pricing-simple {
  background-color: white;
  border-radius: 10px;
  border: 0px;
}

.fa-check-square:before {
    color: #2E426B;
}

.fa-square-o:before {
    color: #2E426B;
}

.btn-banner {
    display: block;
  .btn {
    padding: 9px 12px;
  }
  .btn:hover{
    background-color: transparent;
    color: $my-darkgrey;
  }
}
