.banner {
  background-size: cover !important;
  background: center;
  background-image: linear-gradient(-225deg, rgba(78, 78, 78, 0.6) 0%, rgba(109, 109, 109, 0.6) 50%)
}
.influencer-avatar {
  position: relative;
  margin-bottom: 80px;
}
.image {
  position: absolute;
  width: 100%;
  top: -100px;
}
.avatar {
  border-radius: 50%;
  border: 2px white solid;
}
.influencer-content {
  background-color: white;
}
