
  <div class="divide50"></div>
  <div class="row">
    <div class="container" style="background-color: white">
    <div class="home_cards_test">
    <div class="col-md-4 col-sm-4 margin30">
        <div class="colored-boxed">
            <i class="fa fa-search" aria-hidden="true"></i>
            <h3>SEARCH</h3>
            <span class="center-line"></span>
            <p>
                Search through our huge community of influencers. With more than 3000 celebrity, you can choose the best influencer for your campaign.

            </p>
        </div>
    </div><!--colored boxed col end-->
    <div class="col-md-4 col-sm-4 margin30">
        <div class="colored-boxed">
          <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            <h3>CHOOSE</h3>
            <span class="center-line"></span>
            <p>
                Choose the best influencer that match your brand with all the data and filters you need to make your choice: social networks, values, audience.
            </p>
        </div>
    </div>
    <!--colored boxed col end-->
    <div class="col-md-4 col-sm-4 margin30">
        <div class="colored-boxed">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
            <h3>CONTACT</h3>
            <span class="center-line"></span>
            <p>
              Contact the influencers directly with our specific dashboard and propose him your project : mission, deadline, price.
           </p>
        </div>
    </div>
  </div>
</div>


