<div class="banner_home" style="background-image: linear-gradient(-225deg, rgba(78, 78, 78, 0.6) 0%, rgba(109, 109, 109, 0.6) 100%), url(<%= asset_path 'jordan-mcqueen-9790.png' %>);">

<div class="banner-content">
  <h1>FIND YOUR INFLUENCER</h1>
  <p> Boost your communication with the image of a personality </p>
<br>
<br>
  <div class="col-xs-4">
  <%= link_to 'Fashion', "#{root_url}influencers?search%5Blanguage%5D=&search%5Bplatform%5D=&search%5Bcategory%5D=1&commit=Search", class: "btn btn-danger btn-banner" %>
  </div>
  <div class="col-xs-4">
  <%= link_to 'Sport', "#{root_url}influencers?search%5Blanguage%5D=&search%5Bplatform%5D=&search%5Bcategory%5D=2&commit=Search", class: "btn btn-danger btn-banner" %>
  </div>
  <div class="col-xs-4">
  <%= link_to 'Tech', "#{root_url}influencers?search%5Blanguage%5D=&search%5Bplatform%5D=&search%5Bcategory%5D=3&commit=Search", class: "btn btn-danger btn-banner" %>
  </div>
</div>
</div>
