
  <div class="divide50"></div>
  <div class="row">
    <div class="col-md-4 col-sm-4 margin30">
        <div class="colored-boxed">
            <i class="fa fa-search" aria-hidden="true"></i>
            <h3>SEARCH</h3>
            <span class="center-line"></span>
            <p>
                Search through our huge community of influencers.
            </p>
        </div>
    </div><!--colored boxed col end-->
    <div class="col-md-4 col-sm-4 margin30">
        <div class="colored-boxed">
          <i class="fa fa-thumb-tack" aria-hidden="true"></i>
            <h3>CHOOSE</h3>
            <span class="center-line"></span>
            <p>
                Choose the best influencer that match your brand.
            </p>
        </div>
    </div>
    <!--colored boxed col end-->
    <div class="col-md-4 col-sm-4 margin30">
        <div class="colored-boxed">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
            <h3>CONTACT</h3>
            <span class="center-line"></span>
            <p>
              Influoo allows you to contact has many influencers as you want through our specific dashboard. Eassy to handle.
           </p>
        </div>
    </div>
  </div>


