<div class="center-heading">
  <h2> Influoo pricing </h2>
  <span class="center-line"></span>
</div>

<div class="row col-sm-offset-2 col-sm-8 ">
    <div class="col-sm-6">
        <div class="pricing-simple">
            <h4>FREE</h4>
            <ul class="list-unstyled">
                <li><i class="fa fa-check-square"></i> Search for influencers </li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i>See influencer profil and stats</li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i>Chat with influencers </li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i>Book influencers </li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i>Usefull dashboard </li>
            </ul>
            <div class="bottom">
                <a href="#" class="btn btn-danger" style="border-radius: 15px;">Continue<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div><!--price col end-->
    <div class="col-sm-6">
        <div class="pricing-simple popular">
            <h4>PREMIUM</h4>
            <ul class="list-unstyled">
                <li><i class="fa fa-check-square"></i> Search for influencers </li>
                <li><i class="fa fa-check-square"></i>See influencer profil and stats</li>
                <li><i class="fa fa-check-square"></i> Chat with influencers </li>
                <li><i class="fa fa-check-square"></i> Book influencers </li>
                <li><i class="fa fa-check-square"></i> Usefull dashboard </li>

            </ul>
            <div class="bottom" >
                <a href="#" class="btn btn-danger" style="border-radius: 15px;">Subscribe<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div><!--price col end-->
</div><!--pricing tables 1 simple row end-->

<div class="divide30"></div>
