<div class="container">
<h1>About Influoo</h1>

<div class="row">
  <div class="col-md-6 margin20">
      <h3 class="heading">A little about us</h3>
      <p>
          We are born in 2015 to get brands and influencers closer. Social media are more than important for brands. On the other hand, some people came quickly influencers on Instagram, Facebook or Twitter, followed by a huge community of fans.
          We decided to provide the best advantage of the influencer community. Through our application and because our network is worldwide you will find easily the perfect influencer for your products. It will help to promote your brand and product to a new generation of people.
      </p>
      <%= link_to 'See Influencers', influencers_path, class: "btn btn-danger" %>

  </div>
  <div class="col-md-6">
      <%= image_tag "about.jpg", class: "img-responsive"%>

  </div>
</div>
</div>
