<div class="col-xs-12 inbox-container">
  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> Inbox</a></li>
      <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Profile</a></li>
      <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Favorites</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane active">
        <div class="row">
          <div class="col-md-9">
            <ul id="conversations-list">
              <% @conversations.each do |conversation| %>
              <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
              <% end %>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">User list</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <% @users.each do |user| %>
                  <li><%= link_to user.first_name, conversations_path(user_id: user), remote: true, method: :post %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-2" class="tab-pane">
        <%= render 'devise/registrations/edit' %>
      </div>
      <div id="tab-3" class="tab-pane">
        <h2>test favorites</h2>
      </div>
    </div>
  </div>
  </div>
