<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs tabs-default mb30" role="tablist">
    <li class="nav-item" role="presentation"><a class="nav-link active" href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true">Profile</a></li>
    <li class="nav-item" role="presentation"><a class="nav-link" href="#inbox" aria-controls="inbox" role="tab" data-toggle="tab" aria-expanded="false">Inbox</a></li>
    <li class="nav-item" role="presentation"><a class="nav-link" href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab" aria-expanded="false">Favorites</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active show" id="profile" aria-expanded="true">
    TEST profile
    </div>
    <div role="tabpanel" class="tab-pane fade" id="inbox" aria-expanded="false">
    TEST inbox
    </div>
    <div role="tabpanel" class="tab-pane fade" id="favorites" aria-expanded="false">
    TEST favorites
    </div>
  </div>
</div>
