/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none;
}
.alert-info {
  background: $my-blue;
}
.alert-warning {
  background: $my-pink;
}
