.card {
  height: 300px;
  background-size: cover !important;
  background-position: center;
  background-color: white;
  color: black;
  position: relative;
  margin-bottom: 25px;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px $my-lightgrey;
  border: 1px solid $my-lightgrey;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.card-photo {
  position: absolute;
  width: 100%;
  top: -70px;
  text-transform: uppercase;
  z-index: 2;
}
.card-avatar {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.card-description {
  position: absolute;
  width: 100%;
  top: 65px;
  text-align: center;
}
.card-description h2 {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  text-shadow: 3px 3px $my-lightgrey;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  z-index: 2;
}
.search-tags{
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  border-radius: 10px;
}
.card-link:hover {
  opacity: 0.1;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 7px;
}

.card-rs {
  position: absolute;
  width: 100%;
  top: 130px;
}
.followers {
  // text-align: center;
  position: relative;
  left: 112px;
  line-height: 8px;
  font-size: 0.8em;
  color: $my-darkgrey;
}

.coeur {
  color: gray;
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 99;
  &:hover{
    color: red;
  }
}
.coeur-rose {
  color: red;
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 99;
  &:hover{
    color: gray;
  }
}

.container_card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.fa-facebook-square {
  color: #3B5998;
}

.fa-instagram {
  color: #EA4C89;
}

.fa-twitter-square {
  color: #00ACEE;
}
