.navbarbutton {
  top: 7px;
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fa-sign-out{
  &:hover {
  color: $my-pink;
  }
}

.navbar-default .navbar-nav > li > a {
  &:hover {
  color: $my-pink;
  }
}
