.img-show {
    padding-right: 0px;
    padding-left: 0px;
}

.pictures-container {
  padding: 20px;
}

.fa-facebook-square {
  color: #3B5998;
}

.fa-instagram {
  color: #EA4C89;
}

.fa-twitter-square {
  color: #00ACEE;
}
