.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
.nav-tabs li {
    display: list-item;
    flex: 1 1 33%;
    text-align: -webkit-match-parent;
    border-top: 1px solid #ddd;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}
#tab1 {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#tab3 {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tabs-default.nav-tabs.nav-tabs .nav-link {
    border-top: 3px solid transparent;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    color: #333;
    font-weight: 400;
}
.tab-content {
  min-height: 500px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 60px;
}
.tab-content a :hover {
  color: $my-pink;
}
.tabs .nav-tabs li.active a:after {
  background: $my-pink;
}
.tabs .nav-tabs li.active a {
  color: $my-pink;
}
